@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.centered, .centered-tips{
    position: absolute;
    color: white;
    top: 15vmax;
    left: 14%;
    right: 14%;
    display: flex;
    justify-content: center;
    font-size: 4.6875vmax;
    font-family: 'Montserrat', sans-serif;
}

.centered-tips {
    display: flex;
    justify-content: center;
}

.centered-prevent {
    display: flex;
    justify-content: center;
}

.centered-help {
    display: flex;
    justify-content: center;
}

.jumbotron {
    margin-top: 1.7301038062283738vmax;
}

.img {
    transition-duration: 0.4s;
    filter: blur(5px);
    width: 100%;
    min-height: 40vmax;
    max-height: 40vmax;
}

.img:hover {
    transition-duration: 0.4s;
    filter: blur(0px);
}

#pic1 {
    background-image: url("/media/smoke-free-living-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 0px;
}

#pic2 {
    background-image: url("/media/cropped-image-of-person-smoking-cigarette-636720881-57328d125f9b58723d81d0d8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 0px;
}

#pic3 {
    background-image: url("/media/quit_smoking_hands_break_cigarette.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 0px;
}

#temp {
    padding-left: 3.90625vmax;
    padding-right: 3.90625vmax;
}

.card {
    width: 100%;
    height: 45vmax;
    float: left;
    perspective: 86.50519031141869vmax;
    margin-top: 2.5951557093425605vmax;
    text-align: center;
    padding: 0px;
    margin-bottom: 2.5951557093425605vmax;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: white;
    text-align: center;
    font-size: 4.6875vmax;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: 0.7s ease;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.back {
    background: #03446A;
    font-size: 2vmax;
    opacity: 0;
}

.card:hover .back{
    opacity: 1;
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.card {
    animation: slideInLeft 1.5s;
}

.front-text{
    position: relative;
    top: 3vmax;
}

.back-text {
    position: relative;
    top: 8vmax;
    margin-left: 7.8125vmax;
    margin-right: 7.8125vmax;
}

.button, .support-button{
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 2.5vmax 2.65625vmax;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5625vmax;
    cursor: pointer;
    transition-duration: 0.3s;
}

.button {
    position: relative;
    top: 10vmax;
    left: 0;
}

.support-button {
    padding: 1.5vmax 1.8vmax;
    margin-bottom: 1vmax;
}

.button:hover, .support-button:hover{
    text-decoration: none;
    color: white;
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.cures-help-button{
    margin-left: 30%;
    margin-right: 30%;
}

.cure-tip, .cure-prevent, .cure-help {
    display: grid;
    padding: 0;
    color: black;
    border-width: 3px;
    border-style: solid;
    padding-right: 4%;
    padding-left: 4%;
    margin-left: 6vmax;
    margin-right: 6vmax;
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    padding-bottom: 1vmax;
    font-size: 1.25vmax;
}

.cure-tip {
    border-image: linear-gradient( to right, #43cea2, #185a9d ) 0 0 100% 0;
}

.cure-prevent {
    border-image: linear-gradient( to bottom, #43cea2, #185a9d ) 0 0 0 100% ;
}

.cure-help{
    border-style: none;
}

.cure-tip1, .cure-prevent1, .cure-help1{
    margin-top: 3vmax;
}

.line {
    margin-left: 20vmax;
    margin-right: 20vmax;
    margin-top: 2.5vmax;
    margin-bottom: 1vmax;
    border-bottom: 1px solid grey;
}

ul{
    padding-left: 3vmax;
    padding-bottom: 0;
}

.display-4{
    font-size: 4.37vmax;
}

/*For custom nav-bar at side*/
.ul {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    margin: 0;
    padding: 1%;
    z-index: 9999; /*Ensuring no overlap*/
}

.ul-start{
    top: 90%;
}

.ul li {
    list-style: none;
    margin-bottom: 10%;
    
}

.ul li a {
    display: block;
    text-decoration: none;
    height: 45px;
    font-size: 24px;
    margin: 4px 0;
    padding-left: 15px;
    line-height: 45px;
    opacity: 0.8;
}

.ul li a:hover {
    text-decoration: none;
    transform: rotate(10deg)
}

h1{
    font-size: 3.5vmax;
}

p{
    font-size: 1.2vmax;
}

.form-center{
    left: 17vw;
}

.center-form{
    margin-left: 37vw;
}

.btn1{
    margin-bottom: 10px;
}

.btn-success{
    border: none;
}