*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.carousel-item {
    height: 94vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

@media only screen and (max-width:780) {
    .carousel, .carousel-container, .carousel-container-container {
        display: none !important;
    }
}