.section-custom {
    border-top: 2px solid black;
}

@media(min-width: 768px)
{
    .card-custom {
        position: fixed;
        width: 20vw;
        top: 30%;
        right: 10%;
        transform: translateY(-50%);
        margin: 0;
        padding: 0;
    }
}
@media(max-width : 768px)
{
    .card-custom {
        display: none;
    }
}

@media(max-height: 655px)
{
    .sidenav-item {
        display: none !important;
    }
}

@media(min-width: 768px)
{
    .card-custom2 {
        position: fixed;
        width: 20vw;
        top: 70%;
        right: 10%;
        transform: translateY(-50%);
        margin: 0;
        padding: 0;
        z-index:
    }
}
@media(max-width : 768px)
{
    .card-custom2 {
        display: none;
    }
}

@media(max-height: 655px)
{
    .sidenav-item2 {
        display: none !important;
    }
}
/* body {
    background-color: #333;
    color: #106cff;
} */