.section-custom {
    border: 1px solid black;
    margin: 0;
    margin-top: 10%;
    padding: 5rem;

}

.header-image {
    background-image: url(https://thumbs.gfycat.com/HugeEsteemedDevilfish-poster.jpg) no-repeat fixed center / cover;
    height: 120vh;
}

.content-link {
    text-decoration: none;
}

.section-custom::after {
    content: "";
    background: url(https://images.unsplash.com/photo-1524653736724-8490ee06859d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80) no-repeat fixed center / cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

/* body {
    background-color: #333;
    color: #106cff;
} */
@media(max-height: 580px)
{
    .nav-menu {
        display: none !important;
    }
}